:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
}

.heading{
  margin-left: 90px;
}
.head {
  font-size: 50px;
  text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow,
    0 0 40px yellow;
}
.container .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container .items .item {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 20px;
  width:calc(20%);
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  gap: 6px;
}

.container .items .item img {
  width: 150px;
  border-radius: inherit;
}
