:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
}
.heading{
  margin-top: 20px;
}

.heading h1 {
  color: white;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow,
    0 0 40px yellow;
    margin-bottom: 30px;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.text1{
  background-color: black;
  margin: 20px;
  color: yellowgreen;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.text2{
  background-color: black;
  margin: 20px;
  color: yellowgreen;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.text3{
  background-color: black;
  margin: 20px;
  color: yellowgreen;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}